* {
  margin: 0;
  padding: 0;
  border: 1px red solid;
}

body {
  font-family: 'Open Sans';
}

header {
  display: flex;
  background-color: #1f1f3d;
  justify-content: space-between;
  padding: 10px;
}

.header-title {
  color: #ffffff;
  font-family: "Open-Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3em;
  padding: 10 0;
}

.yo {
  color: #ffc30c;
}

.header-searchbar-buttonAndInput {
  display: flex;
  width: 31%;
}

.header-searchbar-button {
  background-size: cover;
  background-position: center;
  background-color: #f3f6f7;
  border-radius: 5% 0 0 5%;
  justify-content: center;
  padding: 3%;
  height: inherit;
  width: 15%;
}

.header-searchbar-input {
  height: inherit;
  width: 72%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  font-size: 1em;
}

.searchbar-button-image{
  padding: 0%;
  align-self: center;
  width: 55%;
}

.sidebar-and-main {
  display: flex;
}
.sidebar {
  width: 33%;
  background-color: #587a8a;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-toDoCreator-inputsAndList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* .sidebar-toDoCreator-taskInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
} */

.todoCreator-taskInput-textInputLabel {
  color: #f3f6f7;
  font-size: 1em;
  font-weight: 800;
  align-self: flex-start;
  margin: 2em auto 0 1em;
}

.todoCreator-taskInput-textInput {
  border: solid 2px #1f1f3d;
  width: 82%;
  padding: 5%;
  border-radius: 3%;
  margin: 0 1em 2em 1em;
}

.toDoCreator-taskList-fullList {
  display: inline;
}
.toDoCreator-taskList-listItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.taskList-listItem-delete {
  width: 7%;
  margin: 0 .75em 1em 2em;
  color: #1f1f3d;
}

.taskList-listItem-text {
  margin-right: 2em;
  margin-bottom: 1em;
  text-align: left;
  color: #ffffff;
  font-size: 1.25em;

}
.sidebar-toDoCreator-itemInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

}
.todoCreator-taskInput-itemInputLabel {
  color: #f3f6f7;
  font-size: 1em;
  font-weight: 800;
  align-self: flex-start;
  margin: 1em auto 0 1em;
}

.itemInput-container-textAndButton {
  display: flex;
  justify-content: flex-end;
  height: 75%;
  padding-bottom: 2em;
}

.todoCreator-itemInput-textInput {
  border: solid 2px #1f1f3d;
  width: 70%;
  padding: 5%;
  border-top-left-radius: : 3%;
  border-bottom-left-radius: 3%;
  margin: 0 0 0 1em;
}

.todoCreator-itemInput-button {
  width: 15%;
  height: 100%;
  background-color: #1f1f3d;
  color: #ffffff;
  font-size: 3.5em;
  font-weight: lighter;
  border: .1px solid #1f1f3d;
  border-top-right-radius: : 3%;
  border-bottom-right-radius: 3%;
  margin-right: .33em;
  padding: 0;
  /* margin-left: 0;  */

}

.sidebar-buttonsList-section {
  display: flex;
  flex-direction: column;
}

 /* CARDS */
 .main-card-background {
   width: 30%;
   background-color: #FAFDFF;
 }

.main-card-list {
  width: 30%;
  height: auto;
}

.main-card-title {
  padding-top: 2%;
  padding-left: 2%;
}

.bullet-points {
  list-style-type: none;
  list-style-image:  src("/images/checkbox_active.svg");
}

.main-card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10%;
}


.card-button-urgent {
  background-image: url("/images/urgent.svg");
}

.card-button-delete {
  background-image:
url("images/delete/svg")
}
