* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

header {
  display: flex;
  background-color: #1f1f3d;
  justify-content: space-between;
  padding: 10px;
}

.header-title {
  color: #ffffff;
  font-family: "Open-Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3em;
  padding: 10 0;
}

.yo {
  color: #ffc30c;
}

.header-searchbar-buttonAndInput {
  display: flex;
  width: 31%;
}

.header-searchbar-button {
  background-size: cover;
  background-position: center;
  background-color: #f3f6f7;
  border-radius: 5% 0 0 5%;
  justify-content: center;
  padding: 3%;
  height: 80%;
  width: 15%;
}

.header-searchbar-input {
  height: 72%;
  width: 72%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  font-size: 1em;
}

.searchbar-button-image{
  padding: 0%;
  align-self: center;
  width: 55%;
}

.sidebar {
  width: 33%;
  background-color: #587a8a;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-toDoCreator-inputsAndList {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* .sidebar-toDoCreator-taskInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
} */

.todoCreator-taskInput-textInputLabel {
  color: #f3f6f7;
  font-size: .5 em;
  font-weight: 800;
  align-self: flex-start;
  margin: 3em auto 0 1em;
}

.todoCreator-taskInput-textInput {
  border: solid 2px #1f1f3d;
  width: 82%;
  padding: 5%;
  border-radius: 3%;
  margin: 0 1em 2em 1em;
}

.toDoCreator-taskList-checkbox {
  width: 10%;
}

.todoCreator-taskInput-itemInputLabel {
  color: #f3f6f7;
  font-size: .5 em;
  font-weight: 800;
  align-self: flex-start;
  margin: 3em auto 0 1em;
}
.todoCreator-itemInput-textInput {
  border: solid 2px #1f1f3d;
  width: 82%;
  padding: 5%;
  border-radius: 3%;
  margin: 0 1em 2em 1em;
}
